<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      {{ 'WELCOME_INTRO' | translate }}
    </div>
  </div>
   

      <div *ngIf="showLogin" class="center">
        <ion-item>
          <ion-input type="email" placeholder="邮箱" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" placeholder="密码" [(ngModel)]="password"></ion-input>
        </ion-item>
      </div>

      <div *ngIf="showResetCodeAndPass" class="center">
        <ion-item>
          <ion-input type="number" placeholder="六位验证码" [(ngModel)]="resetCode"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" placeholder="新密码" [(ngModel)]="newPassword"></ion-input>
        </ion-item>
      </div>

      <div *ngIf="showResetPassword" class="center">
        <ion-item>
          <ion-input type="email" placeholder="在此输入您的注册邮箱" [(ngModel)]="resetPasswordEmail"></ion-input>
        </ion-item>

      </div>

      <div *ngIf="showRegister">

        <ion-item>
          <ion-input type="text" placeholder="用户名" [(ngModel)]="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="email" placeholder="邮箱" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" placeholder="密码" [(ngModel)]="password"></ion-input>
        </ion-item>
      </div>

      <div *ngIf="showLogin">
        <!-- <button ion-button block (click)="login()" class="login">{{ 'LOGIN' | translate }}</button> -->


        <button ion-button (click)="doLogin()" class="login">登陆</button>
      </div>

      <div *ngIf="showLogin">
        <button ion-button (click)="doShowRegister()" class="login">还没注册？</button>
      </div>

      <!-- <div *ngIf="showLogin">
        <button ion-button (click)="resetPassword()" class="login">忘记密码？</button>
      </div> -->
      <div *ngIf="showRegister">
        <button ion-button (click)="doRegister()" class="login">注册</button>
      </div>
      <div *ngIf="showRegister">
        <button ion-button (click)="backLogin()" class="login">返回登陆</button>
      </div>

      <div *ngIf="showResetPassword">
        <button ion-button (click)="sendResetEmail()" class="login">发送重置密码邮件</button>
      </div>
      <div *ngIf="showResetPassword">
        <button ion-button (click)="backLogin()" class="login">返回登陆</button>
      </div>

      <div *ngIf="showResetCodeAndPass">
        <button ion-button (click)="confirmChangePassword()" class="login">确认更改密码</button>
      </div>
      <div *ngIf="showResetCodeAndPass">
        <button ion-button (click)="backLogin()" class="login">返回登陆</button>
      </div>

</ion-content>